#encabezado {
    background-color: rgb(255, 255, 255);
    border-radius: 5px 5px 5px 5px;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}

/* Formato del menú para que se vea de manera horizontal */
#barraNavegacion {
    display: flex;
    justify-content: center;
    list-style-type: none;      /* Eliminar los círculos de los items de las listas */ 
    column-gap: 15px;
}

/* Formato a los enlaces del menú de la barra de navegación */
li > a {       /* Selector de hijos directos */
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(128, 20, 138);
    font-weight: bold;
}

/* Efecto a los menú sobre los que pasa el mouse */
li > a:hover {
    text-decoration: underline;
}

/* Ocultar y desplegar las opciones de los menú */
.submenu {
    display: none;
    position: absolute;
    list-style-type: none;  
}

nav ul li:hover > ul {
    display: flex;
    flex-direction: column;
}

/* Formato al fondo de los menú de segundo nivel */
ul.submenu > li {
    position: relative;
    right: 45px;                       /* Menú se despliega paralelo al menú principal */
    background-color: rgb(255, 255, 255); 
    padding: 5px 5px;
    border-radius: 5px;
}

/* Desplazamos el menú el segundo nivel hacia la derecha */
ul.submenu > li ul {
    left: 145px;
    top: 0px;
    width: 145px;
}

/* Formato fondo de la presentación de la fundación */
#presentacionFundacion {
    height: 350px;
    display: flex;
    justify-content: start;
}




